{
  "root": true,
  "ignorePatterns": ["example/*"],
  "globals": {
    "NodeJS": true
  },
  "extends": [
    "greencoast/node",
    "greencoast/typescript"
  ],
  "overrides": [
    {
      "files": ["__mocks__/**/*","test/**/*"],
      "rules": {
        "camelcase": "off",
        "dot-notation": "off",
        "prefer-destructuring": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}