{
  "root": true,
  "ignorePatterns": ["example/*"],
  "globals": {
    "NodeJS": true
  },
  "extends": [
    "greencoast/node",
    "greencoast/typescript"
  ],
  "overrides": [
    {
      "files": ["__mocks__/*", "test/*"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}